<div class="container">
	<h1>Your Zip Code: 01721<h1>
	<h2>Town</h2>
	<h3>Board of Selectmen</h3>
		<p>Joseph J. Magnani, Jr. 2016</p>
		<p>Steven Mitchell 2014</p>
		<p>Yolanda Greaves 2015</p>
		<p>Paul D. Monaco 2015</p>
		<p>Mark D. Juitt 2016</p>
	<h2>State</h2>
		<h3>Governor</h3>
			<p>Deval Patrick</p>
		<h3>State Senator</h3>
			<p>Karen Spilka</p>
		<h3>State Representative</h3>
			<p>Tom Sannicandro</p>
	<h2>Federal</h2>
		<h3>Congressional Representative</h3>
			<p>Katherine Clark</p>
		<h3>US Senators</h3>
			<p>Elizabeth Warren</p>
			<p>Edward Markey</p>
		<h3>Vice President</h3>
			<p>Joe Biden</p>
		<h3>President</h3>
			<p>Barack Obama</p>
<script type="text/javascript">

today = new Date();

BigDay = new Date("November 8, 2016");

msPerDay = 24 * 60 * 60 * 1000 ;

timeLeft = (BigDay.getTime() - today.getTime());

e_daysLeft = timeLeft / msPerDay;

daysLeft = Math.floor(e_daysLeft);

e_hrsLeft = (e_daysLeft - daysLeft)*24;

hrsLeft = Math.floor(e_hrsLeft);

minsLeft = Math.floor((e_hrsLeft - hrsLeft)*60);

document.write("There are only<BR> <H4>" + daysLeft + " days " + hrsLeft +" hours and " + minsLeft + " minutes left </H4> Until voting day!<P>");

</script>
</div>