<div class="container">
	<div class="jumbotron">
		<h1>Your Zip Code: 01721<h1>
	</div>
	<div>
		<p>Click one of the buttons below to find out who your representatives are at the town, state, or federal level:</p>
		<div class="btn-group">
			<a class="btn btn-info" role="button" href="/town">Town</a>
			<a class="btn btn-info" role="button" href="/state">State</a>
			<a class="btn btn-info" role="button" href="/federal">Federal</a>
		</div>
	</div>		
</div>