<div class="container">
	<div class="jumbotron">
		<h1>Your Zip Code: 01721</h1> 
		<h1><small><a href="https://maps.google.com/maps?q=ashland+ma&ie=UTF-8&ei=c-V8U_G8NeK_sQT-o4KwCg&ved=0CAgQ_AUoAQ">Ashland MA</a></small></h1>
		<p><small>(If this is incorrect, return to the previous page and try again)</small></p>
	</div>
	<div>
		<p>Click one of the buttons below to find out who your representatives are at the town, state, or federal level:</p>
		<div class="btn-group">
			<a class="btn btn-info" role="button" href="/town">Town</a>
			<a class="btn btn-info" role="button" href="/state">State</a>
			<a class="btn btn-info" role="button" href="/federal">Federal</a>
		</div>
	</div>		