<h2>Federal Representatives</h2>
<hr>
	<div class="row">	
		<div class="col-md-3">
			<h3>Congressional Representative</h3>
			<div class="row">
				<img src="http://huntnewsnu.com/files/2013/10/img_1573.jpg" class="img-responsive img-circle" alt="Katherine Clark"/>
				<p><a href="http://katherineclark.house.gov/">Katherine Clark</a> (Democrat)</p>
			</div>	
		</div>
		<div class="col-md-3">
			<h3>US Senators</h3>
			<div class="row">
				<div class="col-md-4">
					<img src="http://elizabethwarren.com/splash-images/4.jpg" class="img-responsive img-circle" alt="Elizabeth Warren"/>
					<p><a href="http://www.warren.senate.gov/">Elizabeth Warren</a> (Democrat)</p>
				</div>
				<div class="col-md-4">
					<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/9/94/Edward_Markey,_official_portrait,_114th_Congress.jpg/220px-Edward_Markey,_official_portrait,_114th_Congress.jpg" class="img-responsive img-circle" alt="Edward Markey"/>
					<p><a href="http://www.markey.senate.gov/">Edward Markey</a> (Democrat)</p>
				</div>	
			</div>
		</div>
		<div class="col-md-3">
			<h3>Vice President</h3>
			<div class="row">
				<div class="col-md-offset-1">
					<img src="http://www.timeforkids.com/files/BIDEN_TOUT2.jpg" class="img-responsive img-circle" alt="Joe Biden"/>
					<p><a href="http://www.whitehouse.gov/administration/vice-president-biden">Joe Biden</a> (Democrat)</p>
				</div>	
			</div>
		</div>
		<div class="col-md-3">	
			<h3>President</h3>
			<div class="row">
				<img src="http://rack.1.mshcdn.com/media/ZgkyMDEyLzEyLzA0L2IzL2JhcmFja29iYW1hLmMzWi5qcGcKcAl0aHVtYgk5NTB4NTM0IwplCWpwZw/5b0bff81/e0a/barack-obama-look-alike-wants-privacy-and-bar-mitzvah-gigs-223a5782e9.jpg" class="img-responsive img-circle" alt="Barack Obama"/>
				<p><a href="http://www.barackobama.com/#get-the-facts">Barack Obama</a> (Democrat)</p>
			</div>
		</div>	
	</div>
	<hr>		
	<div class="bg-success">
		<script type="text/javascript">

		today = new Date();

		BigDay = new Date("November 8, 2016");

		msPerDay = 24 * 60 * 60 * 1000 ;

		timeLeft = (BigDay.getTime() - today.getTime());

		e_daysLeft = timeLeft / msPerDay;

		daysLeft = Math.floor(e_daysLeft);

		e_hrsLeft = (e_daysLeft - daysLeft)*24;

		hrsLeft = Math.floor(e_hrsLeft);

		minsLeft = Math.floor((e_hrsLeft - hrsLeft)*60);

		document.write("There are only<BR> <H4>" + daysLeft + " days " + hrsLeft +" hours and " + minsLeft + " minutes left </H4> until the next presidential election!<P>");

		</script>
	</div>
	<hr>
	<div>
		<div class="btn-group">
			<a class="btn btn-default" role="button" href="/town">Town</a>
			<a class="btn btn-default" role="button" href="/state">State</a>
			<a class="btn btn-default" role="button" href="/federal">Federal</a>
		</div>
	</div>