<div class="jumbotron">
	<h1>Our Mission</h1>
	<p>As young voters, we don't have time to follow the political theater closely. Putting the names to the faces to the political parties is hard enough without needing to search through wordy articles about each politician. Here, you can find out who represents you and which political party they rep without needing to ask the embarassing questions. We got you covered.</p>
</div>