<h2>State Representatives</h2>
<hr>
<div class="row">
	<div class="col-md-4">
		<h3>Governor</h3>
		<div class="row">
			<img src="http://dcclothesline.com/wp-content/uploads/2013/04/massachusetts-governor-deval-patrick.jpg" class="img-responsive img-circle" alt="Deval Patrick"/>
			<p><a href="http://www.mass.gov/governor/">Deval Patrick</a> (Democrat)</p>
		</div>	
	</div>
	<div class="col-md-4">		
		<h3>State Senator</h3>
		<div class="row">
			<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/9/93/Massachusetts_State_Senator_Karen_Spilka.jpg/220px-Massachusetts_State_Senator_Karen_Spilka.jpg" class="img-responsive img-circle" alt="Karen Spilka"/>
			<p><a href="http://karenspilka.com/">Karen Spilka</a> (Democrat)</p>
		</div>	
	</div>
	<div class="col-md-4">		
		<h3>State Representative</h3>
		<div class="row">
			<img src="http://www.framingham.com/news/wp-content/uploads/2011/07/ma-rep-tom-sannicandro.jpg" class="img-responsive img-circle" alt="Tom Sannicandro"/>
			<p><a href="https://malegislature.gov/People/Profile/t_s1">Tom Sannicandro</a> (Democrat)</p>
		</div>	
	</div>	
</div>
<hr>
	<div>
		<div class="btn-group">
			<a class="btn btn-info" role="button" href="/town">Town</a>
			<a class="btn btn-info" role="button" href="/state">State</a>
			<a class="btn btn-info" role="button" href="/federal">Federal</a>
		</div>
	</div>