<div class="container">
<h2>State Representatives <small>for Ashland MA</small></h2>
<hr>
<div class="row text-center">
	<div class="col-md-4">
		<h3>Governor</h3>
		<div class="row">
			<a href="http://www.mass.gov/governor/">
				<img class="img-responsive img-circle center-block" src="<%= image_path "DP.jpg" %>" alt="Deval Patrick"/>
			</a>
			<p>Deval Patrick</p>
		</div>	
	</div>
	<div class="col-md-4">		
		<h3>State Senator</h3>
		<div class="row">
			<a href="http://karenspilka.com/">
				<img class="img-responsive img-circle center-block" src="<%= image_path "KS.jpg" %>" alt="Karen Spilka"/>
			</a>	
			<p>Karen Spilka</p>
		</div>	
	</div>
	<div class="col-md-4">		
		<h3>State Representative</h3>
		<div class="row">
			<a href="https://malegislature.gov/People/Profile/t_s1">
				<img class="img-responsive img-circle center-block" src="<%= image_path "TS.jpg" %>" alt="Tom Sannicandro"/>
			</a>
			<p>Tom Sannicandro</p>
		</div>	
	</div>	
</div>
<hr>
	<div class="text-center">
		<div class="btn-group">
			<a class="btn btn-info" role="button" href="/town">Town</a>
			<a class="btn btn-info" role="button" href="/state">State</a>
			<a class="btn btn-info" role="button" href="/federal">Federal</a>
		</div>
	</div>
</div>	