<div class="container">
	<a href="http://www.ashlandmass.com/ashland/elected-officials#TOC-Local-Elected-Officials">
		<img class="img-responsive" width="100%" src="<%= image_path "ashland.jpg" %>" alt="ashland public library"/> 
	</a>
	<h2>Town Representatives <small>for Ashland MA</small></h2>
	<p><small>To find a more complete list of the town representatives, click <a href="http://www.ashlandmass.com/ashland/elected-officials#TOC-Local-Elected-Officials">here</a></small></p>

<hr>
	<div class="row">
		<h3>Board of Selectmen</h3>
		<div class="col-md-2">	
			<p>Joseph J. Magnani, Jr. 2016</p>
		</div>
		<div class="col-md-2">	
			<p>Steven Mitchell 2014</p>
		</div>	
		<div class="col-md-2">	
			<p>Yolanda Greaves 2015</p>
		</div>
		<div class="col-md-2">	
			<p>Paul D. Monaco 2015</p>
		</div>
		<div class="col-md-2">	
			<p>Mark D. Juitt 2016</p>
		</div>	
	</div>
	<hr>
	<div class="text-center">
		<div class="btn-group">
			<a class="btn btn-info" role="button" href="/town">Town</a>
			<a class="btn btn-info" role="button" href="/state">State</a>
			<a class="btn btn-info" role="button" href="/federal">Federal</a>
		</div>
	</div>
	<br>
	<hr>
</div>