<h2>Town Representatives</h2>
<p>To find a more complete list of the town representatives, click <a href="http://www.ashlandmass.com/ashland/elected-officials#TOC-Local-Elected-Officials">here</a></p>
<hr>
	<div class="row">
		<h3>Board of Selectmen</h3>
		<div class="col-md-2">	
			<p>Joseph J. Magnani, Jr. 2016</p>
		</div>
		<div class="col-md-2">	
			<p>Steven Mitchell 2014</p>
		</div>	
		<div class="col-md-2">	
			<p>Yolanda Greaves 2015</p>
		</div>
		<div class="col-md-2">	
			<p>Paul D. Monaco 2015</p>
		</div>
		<div class="col-md-2">	
			<p>Mark D. Juitt 2016</p>
		</div>	
	</div>
	<hr>
	<div>
		<div class="btn-group">
			<a class="btn btn-info" role="button" href="/town">Town</a>
			<a class="btn btn-info" role="button" href="/state">State</a>
			<a class="btn btn-info" role="button" href="/federal">Federal</a>
		</div>
	</div>