<div class="jumbotron">
<h1>Enter your zip code to find your representatives:</h1>
<form class="form-inline" role="form">
  <div class="form-group">
    <label class="sr-only" for="exampleInputZipcode">Zip Code</label>
    <input type="zipcode" class="form-control" id="exampleInputZipcode" placeholder="Enter zip code">
  </div>
  <a class="btn btn-default" role="button" href="/ashland">Search</a>
</form>
</div>
<!--When I first go to '/federal', only the countdown shows up until I refresh the page-->
<!--How do I arrange it so that when the user hits 'enter' they will be brought to /ashland?-->