<div class="jumbotron">
<h1>Enter your zip code to find your representatives:</h1>
<form class="form-inline" role="form">
  <div class="form-group">
    <label class="sr-only" for="exampleInputZipcode">Zip Code</label>
    <input type="zipcode" class="form-control" id="exampleInputZipcode" placeholder="Enter zip code">
  </div>
  <a class="btn btn-default" role="button" href="/ashland">Search</a>
</form>
</div>
<!--The button won't bring me to '/ashland', only the word "Search" will and I don't know how to change that-->
<!--When I first go to '/ashland', only the countdown shows up until I refresh the page-->