$jumbotron-bg: #F0E6FA;
$link-color: #999999;

$btn-info-bg: #57385C;

$navbar-inverse-bg: #57385C;
$navbar-inverse-brand-color: #FFFFFF;
$navbar-inverse-link-color: #FFFFFF;
$navbar-border-radius: 0px;

$thumbnail-padding: 0px;

//$input-border: #57385C;

@import 'bootstrap';

#result p { color: #999999;
			padding-top: 14px;
			position: fixed;
			right: 20px;}