$jumbotron-bg: #F0E6FA;

$btn-info-bg: #57385C;

$navbar-inverse-bg: #57385C;
$navbar-inverse-brand-color: #FFFFFF;
$navbar-inverse-link-color: #FFFFFF;

//$input-border: #57385C;

@import 'bootstrap';
