<!DOCTYPE html>
<html>
<head>
  <title>Politicsapp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<nav class="navbar navbar-inverse" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Political Pal</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/mission">Mission</a></li>
      <li><a href="/zip">New Search</a></li> 
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <ul class="nav navbar-nav">
    <li><a href="/contact">Contact Us</a></li>
    <li><div id="result"/></li>
 </ul>
</nav>  
	<div class="container">
		<%= yield %>
	</div>
</body>
</html>
<script type="text/javascript">
    today = new Date();

    BigDay = new Date("November 8, 2016");

    msPerDay = 24 * 60 * 60 * 1000 ;

    timeLeft = (BigDay.getTime() - today.getTime());

    e_daysLeft = timeLeft / msPerDay;

    daysLeft = Math.floor(e_daysLeft);

    e_hrsLeft = (e_daysLeft - daysLeft)*24;

    hrsLeft = Math.floor(e_hrsLeft);

    minsLeft = Math.floor((e_hrsLeft - hrsLeft)*60);

    $("#result").html( "<P>There are " + daysLeft + " days " + hrsLeft +" hours and " + minsLeft + " minutes left until the next presidential election!</P>");

  </script>

